* {
    padding: 0;
    margin: 0;
}
/********** Container Section **********/
div#container {
    width: 960px;
    min-height: 900px;
    margin: auto;
}

/********** Header Section **********/
#container header {
    overflow: hidden;
}
#container header #logo {
    width: 65px;
    height: 65px;
    float: left; 
    padding: 15px 10px;
}
#container header #slogan h1 {
    float: left;
    padding-top: 25px;
}
#container header #user {
    float: right;
    padding-right: 20px;
}
#container header #user img {
    width: 25px;
    padding: 30px 15px;
}

/********** Nav Section **********/
/* #container nav {

} */
#container nav ul{
    background-color: #20262E;
    overflow: hidden;
    list-style: none;
}
#container nav ul li{
    float: left;
}

#container nav ul li{
    border-right: 1px solid #fff;
}
#container nav ul li:last-child{
    border-right: none;
}
/* Sub Navbar */
#container nav ul li ul {
    position: absolute;
    left: -999px;
}
#container nav ul li:hover ul {
    left: auto;
}
#container nav ul li ul li {
    float: none;
    display: block;
}
#container nav ul li ul li {
    border-right: none;
    border-top: 1px solid white;
}
/***************/
#container nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    border: 1px solid #20262E;
}
#container nav ul li a:hover {
    background-color: #fff;
    color: tomato;
}

/********** Article Section **********/
#container #article1 {
    overflow: hidden;
}
#container #article1 img {
    float: right;
}

#container #article2 {
    overflow: hidden;
}
#container #article2 img {
    float: left;
}

/********** Footer Section **********/
#container footer {
    text-align: center;
    margin-top: 200px;
}
#container footer #flinks {
    background-color: rgb(190, 197, 204);
    padding: 5px 30px;
}
#container footer #flinks a{
    text-decoration: none;
    color: black;
    padding: 0 5px;
}
#container footer #flinks a:hover {
    color: white;
}
#container footer #copy {
    background-color: #20262E;
    color: white;
    display: block;
    padding: 15px;
}